[submodule "Dependencies/LuaJIT"]
	path = Dependencies/LuaJIT
	url = https://github.com/marchc1/LuaJIT.git
	branch = compiled
[submodule "Dependencies/Steamworks.NET"]
	path = Dependencies/Steamworks.NET
	url = https://github.com/marchc1/Steamworks.NET